body{
  margin: 0;
  height: 100%;
}

.construction {
	z-index: 1000;
	font-family: 'Permanent Marker', sans-serif;
	color: #B11111;
	position: fixed;
	top: 42%;
	left: 35%;
	font-size: 58px;
	transform: rotate(-45deg);
}

.banner {
  width: 100%;
  height: 70px;
  top:0px;
}

.banner-content {
  font-size: 32px;
  width: 50%;
  float: left;
  color: #595959;
  padding: 10px;
  font-family: 'Titillium Web', sans-serif;
}

.loginsection {
	padding-top: 20px;
	padding-right: 20px;
	float: right;
}

.loggedin {
	font-family: 'Titillium Web', sans-serif;
	display: none;
	padding-top: 20px;
	padding-right: 20px;
	float: right;
}

.loginsection input {
	height: 30px;
	padding-left: 3px;
	border-color: #595959;
	margin-right: 10px;
	border-radius: 5px;
}

.loginsection input:focus{
	border-color: #595959;
	outline: none;
	box-shadow: 0 0 .5em #595959;
	margin-right: 10px;
	border-radius: 5px;
}

.loginsection button, .loggedin button {
	background-color: #F3F3F3;
	border-color: #F3F3F3;
	border-radius: 5px;
}

.loginsection button:hover, .loggedin button:hover {
	border-radius: 5px;
	box-shadow: 0 0 .5em #595959;
}

.loginsection button:focus, .loggedin button:focus{
	outline: none;
}


.weekly {
	padding-left: 2px;
	color: #FFFFFF;
	display: inline-block;
	height: 180px;
	width: 14.1%;
	background-color: #595959;
}

.weekly:hover {
	display: inline-block;
	height: 180px;
	width: 14.1%;
	background-color: #DDDDDD;
}

.padthebot {
	margin-bottom: 10px;
}

.nopadding {
	padding-right: 0px;
}

.nutrition, .stats {
	background-color: #DDDDDD;
	height: 690px;
	padding: 0;
}

.diet {
	margin: 11px;
	display: inline-block;
	width: 96.5%;
	height: 97%;
	background-color: #595959;
}

.stat {
	margin: 11px;
	display: inline-block;
	width: 48%;
	height: 46.5%;
	background-color: #595959;
}
